In [1]:
import pandas as pd

In [2]:
from sklearn.linear_model import LinearRegression

In [5]:
df = pd.read_csv("C:\\Users\smailey\Desktop\lecture\csv\data.csv")

In [7]:
df.head()

          Car       Model  Volume  Weight  CO2
0      Toyoty        Aygo    1000     790   99
1  Mitsubishi  Space Star    1200    1160   95
2       Skoda      Citigo    1000     929   95
3        Fiat         500     900     865   90
4        Mini      Cooper    1500    1140  105

In [10]:
df.shape

(36, 5)

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Car     36 non-null     object
 1   Model   36 non-null     object
 2   Volume  36 non-null     int64
 3   Weight  36 non-null     int64
 4   CO2     36 non-null     int64
dtypes: int64(3), object(2)
memory usage: 1.5+ KB

In [13]:
df.describe()

            Volume       Weight         CO2
count    36.000000    36.000000   36.000000
mean   1611.111111  1292.277778  102.027778
std     388.975047   242.123889    7.454571
min     900.000000   790.000000   90.000000
25%    1475.000000  1117.250000   97.750000
50%    1600.000000  1329.000000   99.000000
75%    2000.000000  1418.250000  105.000000
max    2500.000000  1746.000000  120.000000

In [15]:
X = df[['Volume','Weight']]
X.head()

   Volume  Weight
0    1000     790
1    1200    1160
2    1000     929
3     900     865
4    1500    1140

In [18]:
y = df.CO2
y.head()

0     99
1     95
2     95
3     90
4    105
Name: CO2, dtype: int64

In [19]:
model = LinearRegression()

In [20]:
model.fit(X,y)

LinearRegression()

In [21]:
model.coef_

array([0.00780526, 0.00755095])

In [22]:
model.intercept_

79.6947192911594

In [23]:
model.predict(X)

array([ 93.46522516,  97.82012716,  94.51480683,  93.25102045,
       100.01068547,  94.51480683,  98.99608035, 101.70964861,
        99.79925895, 100.8667207 ,  95.6804309 ,  97.31699187,
        95.89663018, 101.63691732, 102.19568742, 102.22589121,
       102.49017436, 106.53149836, 100.63264133, 105.33289232,
       104.14383181, 106.08798705, 106.39280312, 102.86772172,
       105.98982473, 102.46474333, 106.55614578, 108.33061839,
       103.68322403, 108.17959944, 108.20503047, 108.48918828,
       101.50855121, 102.67894804, 102.79221225, 109.74143455])

In [25]:
model.predict([[1200,700]])

C:\Users\smailey\anaconda3\lib\site-packages\sklearn\base.py:420: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([94.34669141])

In [27]:
X.describe()

            Volume       Weight
count    36.000000    36.000000
mean   1611.111111  1292.277778
std     388.975047   242.123889
min     900.000000   790.000000
25%    1475.000000  1117.250000
50%    1600.000000  1329.000000
75%    2000.000000  1418.250000
max    2500.000000  1746.000000

In [28]:
from sklearn.preprocessing import MinMaxScaler

In [29]:
scaler = MinMaxScaler()

In [30]:
scaler.fit_transform(X)

array([[0.0625    , 0.        ],
       [0.1875    , 0.38702929],
       [0.0625    , 0.14539749],
       [0.        , 0.07845188],
       [0.375     , 0.36610879],
       [0.0625    , 0.14539749],
       [0.3125    , 0.33368201],
       [0.375     , 0.60146444],
       [0.375     , 0.33682008],
       [0.4375    , 0.37656904],
       [0.125     , 0.19874477],
       [0.25      , 0.20920502],
       [0.0625    , 0.33682008],
       [0.4375    , 0.4832636 ],
       [0.4375    , 0.56066946],
       [0.4375    , 0.56485356],
       [0.4375    , 0.60146444],
       [0.8125    , 0.5125523 ],
       [0.4375    , 0.34414226],
       [0.6875    , 0.56276151],
       [0.4375    , 0.83054393],
       [0.6875    , 0.66736402],
       [0.75      , 0.60146444],
       [0.4375    , 0.65376569],
       [0.6875    , 0.65376569],
       [0.375     , 0.70606695],
       [0.6875    , 0.73221757],
       [0.6875    , 0.97803347],
       [0.4375    , 0.7667364 ],
       [0.6875    , 0.95711297],
       [0.75      , 0.85251046],
       [0.6875    , 1.        ],
       [0.4375    , 0.46548117],
       [0.4375    , 0.62761506],
       [0.4375    , 0.64330544],
       [1.        , 0.63284519]])